.homepage {
    background-image: url("../assets/img/background.jpg");
    /* Used if the image is unavailable */
    min-height: 100vh;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10vh;
}

.homepage-container {
    height: 90vh;
    background-image: url("../assets/img/homepage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1042px 700px;
    padding-top: 72vh;
}

.image-button-group {
    position: relative;
}

.row-justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.rules {
    background-image: url("../assets/img/rules.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 160px;
    height: 60px;
    cursor: pointer;
}

.rules:active {
    box-shadow: 7px 6px 28px 1px rgba(231, 255, 19, 0.24);
    transform: translateY(5px);
    /* Moving button 4px to y-axis */
}

.play-now {
    background-image: url("../assets/img/play_now.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 393px;
    height: 169px;
    cursor: pointer;
}

.play-now:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(5px);
    /* Moving button 4px to y-axis */
}

.how-to-play {
    background-image: url("../assets/img/how_to_play.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 260px;
    height: 60px;
    cursor: pointer;
}

.how-to-play:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(5px);
    /* Moving button 4px to y-axis */
}

.how-to-play:hover {
    opacity: 0.8;
}

.play-now:hover {
    opacity: 0.8;
}

.rules:hover {
    opacity: 0.8;
}

@media (max-width: 1199px) {
    .homepage-container {
        background-size: 900px 605px;
        background-position: center;
    }

    .row-justify-center {
        gap: 0px;
    }
}

@media (max-width: 899px) {
    .homepage {
        padding-top: 30vh;
    }

    .homepage-container {
        height: 70vh;
        background-image: url("../assets/img/mobile.png");
        background-size: 600px 400px;
        background-position: top;
        padding-top: 450px;
    }

    .rules {
        width: 150px;
    }

    .how-to-play {
        width: 220px;
    }

    .play-now {
        width: 230px;
    }
}

@media (max-width: 599px) {
    .homepage {
        padding-top: 20vh;
    }

    .homepage-container {
        height: 80vh;
        background-image: url("../assets/img/mobile.png");
        background-size: 400px 380px;
        background-position: top;
        padding-top: 45vh;
    }

    .row-justify-center {
        flex-direction: column;
    }

    .rules {
        width: 160px;
        height: 60px;
    }

    .how-to-play {
        width: 260px;
        height: 60px;
    }

    .play-now {
        width: 393px;
        height: 169px;
    }
}